body {
  min-height: 200px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #d5d5d5;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

table td {
   border: 1px solid #d5d5d5;
}

table th {
   border: 1px solid #d5d5d5;
}

.bigsig { font-size: 4em ; 
          font-family: verdana, arial, helvetica, "sans-serif" ; 
          font-weight: bold ; 
          font-style: italic ;
          color: #6666cc ; 
          text-decoration: none ; }
/* Make the group items tighter */
.list-group-item {
  padding: 5px 15px;
}

/* Benjamin Pierce, Sep 2019: A custom style for official sigplan
   rules (as opposed to guidelines, recommendations, or discussion) in
   conference organizer documents: */
.sigplan_rule { color: rgb(97, 0, 0); }
