{%comment%}assumes include.list is a list of committee members{%endcomment%}
<ul>
{% for i in include.list %}
     {% include typeof.liquid value=i %}
     {% assign committee_list_tmp = type %}
     {% case committee_list_tmp %}
        {% when "string" %}
                <li>
                {% include membership.liquid member=i %}
                </li>
        {% when "object" %}
           {%comment%}The YAML has one object per list item{%endcomment%}
           {% for j in i %}
                <li>
                    {% assign t = j[1] %}
                    {% include typeof.liquid value=t %}
                    {% if include.prefix == true or type == "list" %}
                         <b> {{ j[0] }}: </b>
                         {% assign t = j[1] %}
                         {% if j[0] == "Steering Committee Chairs" %}
                            {% include sc-membership.liquid list=t %}
                         {% else %}
                            {% include membership.liquid member=t prefix=include.prefix %}
                         {% endif %}
                    {% else %}
                         {% assign t = j[1] %}
                         {% include membership.liquid member=t prefix=include.prefix %}
                         <b> ({{ j[0] }}) </b>
                    {% endif %}
                </li>
           {% endfor %}
        {% else %}
           (( bad type for committee list membership ))
     {% endcase %}
{% endfor %}
</ul>

