<div class="panel panel-primary">
  <div class="panel-heading"><b>{{include.links}}</b></div>
  <div class="list-group">
    {% for m1 in include.data.[include.links] %}
        {% for m2 in m1 %}
          {% include link.liquid data=m2 class="list-group-item" %}
        {% endfor %}
    {% endfor %}
  </div>
</div>
