<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="no-place-like-home" href="/">ACM SIGPLAN</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for m1 in site.data.Links["Primary Menu"] %}
          {% assign tmp = m1 | remove: '>' | split: "<" %}
          {% assign x = tmp[1] | append: '.html' | prepend: '/' %}
          {% if page.url == x %}
            <li class="active">
          {% else %}
            <li>          
          {% endif %}
          <a href="/{{ tmp[1] }}">{{ tmp[0] }}</a>
        </li>
        {% endfor %}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Key Links<b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% for m1 in site.data.Links["Key Links"] %}
          {% assign link = m1 | remove: '>' | split: "<" %}
            <li>         
              {% if link[1] contains "://" %}
              <a href="{{ link[1] }}">
              {% else %}          
              <a href="/{{ link[1] }}">
              {% endif %}
              {{ link[0] }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Conference Information<b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% for m1 in site.data.Links["Conference Information"] %}
          {% assign link = m1 | remove: '>' | split: "<" %}
            <li>
              {% if link[1] contains "://" %}
              <a href="{{ link[1] }}">
              {% else %}          
              <a href="/{{ link[1] }}">
              {% endif %}
              {{ link[0] }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
