<ul>
{% for i in include.list %}
  {% for j in i %}
    {% assign t = j[0] %}
    <li> <b>{{ t }}: </b>
      {% assign name = j[0] | append: " Steering Committee" %}
      {% assign committee = site.data.Committees.[name] | %}
      {% for k in committee %}
        {% if k["Chair"] <> nil %}
         {{ k["Chair"] | markdownify | | replace: 'p>', 'span>' }}
        {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
{% endfor %}
</ul>
