<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    {% include navbar.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-8  col-md-offset-2">
          <h1><a href="..">Announcements</a></h1>
          <h2>{{ page.title }}</h2>

          {% if page.deadline %}
          <p class="details">
              <strong>Deadline:</strong> {{ page.deadline }}
          </p>
          {% endif %}

          <pre class="mail">{{ content }}</pre>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
