<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    {% include navbar.html %}

    <div class="container">

      <div class="row">

        <div class="col-md-8  col-md-offset-2">
          <h1> {{ page.title }} </h1>

          <hr class="featurette-divider">
          
          {{ content }}

          <h2>Recipients</h2>

          {% assign award_name = page.path | remove: 'Awards/' | remove: '.md' %}

          {% for award in site.data[award_name] %}
            {% assign year = award[0] %}
            {% assign details = award[1] %}
            {% assign awardee = details.Awardee %}
            
            {% if awardee[0] <> nil %}
              {% assign awardee = awardee | array_to_sentence_string %}
            {% endif %}

            <h4 class="alert alert-info" id="{{year}}"><span class="badge pull-right">{{year}}</span> {{awardee}} </h4>
                        
            {% if details.Other <> nil %}
              <font size="+1">{{ details.Other | markdownify }}</font>
            {% endif %}

            {% if details.Advisor <> nil %}

              <p><strong>Advisor:</strong>&nbsp;{{ details.Advisor }}</p>
              
            {% endif %}

            {% if details.Citation <> nil %}

              <p><strong>Citation:</strong></p>
              <blockquote >{{ details.Citation | markdownify }}</blockquote>
              
            {% endif %}
                      
          {% endfor %}
        </div>

      </div>
      
    </div>

    {% include footer.html %}
  </body>
</html>
