<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    {% include navbar.html %}

    <div class="container">

      <div class="row">

        <div class="col-md-8  col-md-offset-2">
          <h1> {{ page.title }} </h1>

          <hr class="featurette-divider">

          {{ content }}
        </div>
      </div>
      
    </div>

    {% include footer.html %}

<script>
$(function () {
  var txt = $(".row a").attr('href');
  $(".row a").attr('href',txt + "&body=The URL " + window.location.href + " was not found. Can you look into this please."); 
  $($("p")[0]).after("<p>You were looking for <pre>" + window.location.href + "</pre></p>");

});
</script>

  </body>
</html>
