<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    <div style="background: #f0f0f0; padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1pt solid #808080;">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-2" style="padding-right: 0pt">
             <p class="text-right"><img src="{{site.url}}/images/acmlogo.gif"></p>
        </div>
        <div class="col-md-8">
          <div class="bigsig">SIGPLAN</div>
          <h3>Special Interest Group on Programming Languages</h3>
          <p>SIGPLAN is a Special Interest Group of ACM that focuses on Programming Languages. In particular, SIGPLAN explores the  design, implementation, theory, and efficient use of programming languages and associated tools. Its members are programming language users, developers, implementers, theoreticians, researchers and educators.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div style="margin-top: 25px;">
            {% include link-table.liquid data=site.data.Links links="Key Links" %}
          </div>
          <div style="margin-top: 25px;">
            {% include link-table.liquid data=site.data.Links links="Conference Information" %}
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <h3>Awards and Recent Recipients</h3>

          {% for award in site.data.Awards %}
            {% assign award_label = award[0] %}
            {% assign award_name = award[1] %}
            {% assign path = award_label | prepend: 'Awards/' %}
            {% assign recipients = site.data[award_label] %}
            {% assign year = 0 %}
            {% assign recent_recipient = award_label | prepend: "can not find " | append: "'s most recent recipient" %}
            {% for awardee in recipients %}
              {% assign tmp = awardee[0] | plus: 0 %}
              {% if tmp > year %}
                {% assign year = tmp %}
                {% assign recent_recipient = awardee[1] %}
              {% endif %}
            {% endfor %}
            {% if recent_recipient["Awardee"] <> nil %}
              {% assign recent_recipient_awardee = recent_recipient["Awardee"] %}
            {% else %}
              {% assign recent_recipient_awardee = recent_recipient %}
            {% endif %}
            {% if recent_recipient_awardee[0] <> nil %}
              {% assign recent_recipient_awardee = recent_recipient_awardee | array_to_sentence_string %}
            {% endif %}

            {% if award_label == "ACMFellows" %}
            <h5><a href="{{path}}">{{award_name}}</a> (recognized in {{year}})</h5>
            {% else %}
            <h5><a href="{{path}}">{{award_name}}</a> (presented in {{year}})</h5>
            {% endif %}
            <ul>
              <li>
                <a href="{{path}}#{{year}}">{{ recent_recipient_awardee }}</a>
                {% if recent_recipient["Other"] <> nil %}
                  {% assign recent_recipient_other = recent_recipient["Other"] %}
                  {{recent_recipient_other | markdownify}}
                {% endif %}
              </li>
            </ul>
          {% endfor %}          
          {% include links.liquid data=site.data.Links links="SIGPLAN Sponsored Conferences" %}
        </div>
      </div>
    </div>  

    {% include footer.html %}
  </body>
</html>
