<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    <div style="background: #f0f0f0; padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1pt solid #808080;">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-2" style="padding-right: 0pt">
             <p class="text-right"><img src="{{site.url}}/images/acmlogo.gif"></p>
        </div>
        <div class="col-md-8">
          <div class="bigsig">SIGPLAN</div>
          <h3>Special Interest Group on Programming Languages</h3>
          <p>The ACM Special Interest Group on Programming Languages (SIGPLAN) explores programming language concepts and tools, focusing on design, implementation, practice, and theory. Its members are programming language developers, educators, implementers, researchers, theoreticians, and users.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div style="margin-top: 25px;">
            {% include link-table.liquid data=site.data.Links links="Key Links" %}
          </div>
          <div style="margin-top: 25px;">
            {% include link-table.liquid data=site.data.Links links="Conference Information" %}
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <h3>Awards and Recent Recipients</h3>

          {% for award in site.data.Awards %}
            {% assign award_label = award[0] %}
            {% assign award_name = award[1] %}
            {% assign path = award_label | prepend: 'Awards/' %}
            {% assign awards = site.data[award_label] %}
            {% assign year = 0 %}
            {% for award in awards %}
              {% assign tmp = award[0] | plus: 0 %}
              {% if tmp > year %}
                {% assign year = tmp %}
              {% endif %}
            {% endfor %}
            {% assign recent_recipients = awards[year] %}

            {% case award_label %}
            {% when "ACMFellows" %}
            <h5><a href="{{path}}">{{award_name}}</a> (recognized in {{year}})</h5>
            <ul>
              <li>
                <a href="{{path}}#{{year}}">{{ recent_recipients | array_to_sentence_string }}</a>
              </li>
            </ul>

            {% else %}
            <h5><a href="{{path}}">{{award_name}}</a> (presented in {{year}})</h5>
            <ul>
              {% for recipient in recent_recipients %}
              <li>
                <a href="{{path}}#{{year}}_{{ recipient["Awardee"] | replace: " ", "_" | replace: ",", "_" }}">{{ recipient["Awardee"] }}</a>
                {% if recipient["Other"] <> nil %}
                  {{ recipient["Other"] | markdownify}}
                {% endif %}
              </li>
              {% endfor %}
            </ul>

            {% endcase %}

          {% endfor %}          
          {% include links.liquid data=site.data.Links links="SIGPLAN Sponsored Conferences" %}
        </div>
      </div>
    </div>  

    {% include footer.html %}
  </body>
</html>
